Source: pcapy
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Emmanuel Arias <eamanu@yaerobi.com>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 12),
               libpcap0.8-dev,
               dh-python,
               python3-all-dev (>=3),
               python3-all (>=3),
               python3-setuptools (>= 0.6.24)
Homepage: https://www.coresecurity.com/corelabs-research/open-source-tools/pcapy
Vcs-Git: https://salsa.debian.org/python-team/modules/pcapy.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/pcapy
X-Python-Version: all
Standards-Version: 4.4.1
Testsuite: autopkgtest-pkg-python

Package: python3-pcapy
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Breaks: python-pcapy (<< 0.11.4)
Replaces: python-pcapy (<< 0.11.4)
Recommends: python3-impacket
Description: Python interface to the libpcap packet capture library (Python 3)
 Pcapy is a  Python extension module that interfaces  with the libpcap
 packet capture library.
 .
 Pcapy enables Python scripts to capture packets on the network. Pcapy
 is highly  effective when used in conjunction  with a packet-handling
 package such as Impacket, which is a collection of Python classes for
 constructing and dissecting network packets.
 .
 This package installs the library for Python 3.
